extends layout

block content
    header.container
        h1.m--1.g--4= title

    section.form-container.column-container.g--6
        form#searchform
            label(for='blogname') Blogger
            input#blogname(type='text' name='blogname')

            label(for='blogtag') Tag (optional)
            input#blogtag(type='text' name='blogtag')

            input.btn--yellow(type='submit' value='Search')

        #blog-results
    
    section#favorites-container.column-container.g--5.m--1
        h2 Favorites

    footer.g--12

