doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/surface_styles.css')
        link(rel="stylesheet", href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block content
        script(src='/javascripts/bundle.js')
