body {
  padding: 50px;
}


/*
  *
  * SURFACE MATERIAL OVERRIDES
  *
*/
.card {
  margin: 10px 10px 10px 0;
  border-radius: 20px;
}

.column-container {
  flex-direction: column;
}


/*
  *
  * FONT-AWESOME OVERRIDES
  *
*/
.fa-heart:hover {
  font-weight: bold;
}
